<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kritsolutions.travis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/dot_mac_logo" android:label="@string/app_name" >
        <activity android:label="@string/app_name" android:name=".Splash" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".startingPoint" >
            <intent-filter >
                <action android:name="com.kritsolutions.travis.STARTINGPOINT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".Menu" >
            <intent-filter >
                <action android:name="com.kritsolutions.travis.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".Prefs" >
            <intent-filter >
                <action android:name="com.kritsolutions.travis.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".AboutUs" 
            android:theme="@android:style/Theme.Dialog">
            <intent-filter >
                <action android:name="com.kritsolutions.travis.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".TextPlay" >
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".Email" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:label="Camera Application" android:name=".Camera" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:label="Data Application" android:name=".Data" >
        </activity>
        
        <activity
            android:label="OpenedClass Application" android:name=".OpenedClass" >
        </activity>
        
        <activity
            android:label="Data Application" android:name=".Gfx" >
        </activity>
        
        <activity
            android:label="Data Application" android:name=".GfxSurface" >
        </activity>
        
        <activity
            android:label="Sound Stuff" android:name=".SoundStuff" >
        </activity>
        
        <activity
            android:label="Slider" android:name=".Slider" >
        </activity>
        
        <activity
            android:label="Tabs" android:name=".Tabs" >
        </activity>
        
        <activity
            android:label="SimpleBrowser" android:name=".SimpleBrowser" >
        </activity>
        
        <activity
            android:label="Flipper" android:name=".Flipper" >
        </activity>
        
        <activity
            android:label="SharedPrefs" android:name=".SharedPrefs" >
        </activity>
        
        <activity
            android:label="InternalData" android:name=".InternalData" >
        </activity>
        
        <activity
            android:label="ExternalData" android:name=".ExternalData" >
        </activity>
        
        <activity
            android:label="SQLiteExample" android:name=".SQLiteExample" >
        </activity>
        
        <activity
            android:label="Accelerate" android:name=".Accelerate" >
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".SQLView" >
            <intent-filter >
                <action android:name="com.kritsolutions.travis.SQLVIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity
            android:label="HttpExample" android:name=".HttpExample" >
        </activity>
        
        <activity
            android:label="WeatherXMLParsing" android:name=".WeatherXMLParsing" >
        </activity>
    </application>

</manifest>