<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kritsolutions.travis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application android:icon="@drawable/dot_mac_logo" android:label="@string/app_name" >
        <activity android:label="@string/app_name" android:name=".Splash" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".startingPoint" >
            <intent-filter >
                <action android:name="com.kritsolutions.travis.STARTINGPOINT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".Menu" >
            <intent-filter >
                <action android:name="com.kritsolutions.travis.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".Prefs" >
            <intent-filter >
                <action android:name="com.kritsolutions.travis.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".AboutUs" 
            android:theme="@android:style/Theme.Dialog">
            <intent-filter >
                <action android:name="com.kritsolutions.travis.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".TextPlay" >
        </activity>
        
        <activity
            android:label="@string/app_name" android:name=".Email" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:label="Camera Application" android:name=".Camera" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:label="Data Application" android:name=".Data" >
        </activity>
        
        <activity
            android:label="OpenedClass Application" android:name=".OpenedClass" >
        </activity>
    </application>

</manifest>